<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Design Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3b1c75d67e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <!-- <input type="checkbox" id="expand-toggle">
        <label for="expand-toggle" class="expand-btn">
            <i class="fas fa-bars"></i>
        </label> -->

        <nav class="nav-wrap">
            <a id="logo" href="/">THE DESIGN SHOP</a>

            <ul class="nav">
                <li><a href="/weekly">Weekly Recommendations</a></li>
                <li> <a href="/lessThen30">Less than $30</a></li>
                <li><a href="/add">Add</a></li>
            </ul>
        </nav>
    </header>